body {
    background: rgb(23, 23, 23);
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: orange; 
    transition: 0.5 ease;
}

.navbar-nav > li {
    display: flex; 
    align-items: baseline;
    margin-left: 10px;
}

.user_info {
    padding: 5px; 
    margin-left: 10px;
    background-color: rgb(83, 83, 83);
    border-radius: 15px;
}