.registration_form, .authentication_form {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    min-width: 30vw;
    text-transform: uppercase;
    padding: 20px; 
    box-shadow: 0px 5px 10px white;
    border-radius: 10px;
}

.btn-success {
    min-width: 100%;
    margin-top: 15px;
}

.alert-danger {
    margin-top: 5px;
}

