{% extends "main/base.html" %}
{% load static %}
{% block title %}
HOME
{% endblock title %}

{% block page_style_link %}
<link type="text/css" href="{% static 'main/css/home.css' %}" rel="stylesheet" />
{% endblock page_style_link %}

{% block content %}
<div class="main_home_content">
    <div class="slider">
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'main/images/TimesSquare.jpg'%}" class="d-block w-100" alt="New York">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'main/images/LosAngeles.jpg'%}" class="d-block w-100" alt="Los Angeles">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'main/images/Albuquerque.jpg'%}" class="d-block w-100" alt="Albuquerque">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    {% if user.is_authenticated %}
    <div class="posts">
        <ul class="user_posts">

            {% for post in posts %}
            <li>
                <div class="one_post">

                    <h3> {{post.title}} | {{post.time_updated}} | Published by: {{post.user_username}}</h3>

                    <div class="photo_content">
                        
                        <div class="photo">
                            <img src="../../../media/{{post.photo}}" alt="{{post.title}}">
                        </div>

                        <p> {{post.content}} </p>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>

    </div>
</div>
{% endif %}
{% endblock content %}