{% extends "main/layout.html" %}
{% load static %}
{% block title %}
Registration
{% endblock title %}
{% block page_style_link %}
<link type="text/css" href="{% static 'main/css/registration.css' %}" rel="stylesheet" />
{% endblock page_style_link %}

{% block content %}
<div class="registration_form">
    <form method='post'>
        {% csrf_token %}

        {% for field in form %}
        {% if field.label_tag == form.to_be_informed.label_tag or field.label_tag == form.accept_rules.label_tag %}
        {{ field }}
        {{ field.label_tag }}
        <br />
        {% else %}
        {{ field.label_tag }}
        {{ field }}
        <br />
        <!-- {% if field.errors %}
                        {% for error in field.error %}{{ error }}{% endfor %}
                    {% endif %} -->
        {% endif %}
        {% endfor %}
        {% if form.errors %}
        <div class="alert alert-danger">
            <ul>
                {% for field, errors in form.errors.items %}
                {% for error in errors %}
                <li>{{ field }}: {{ error }}</li>
                {% endfor %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <button class="btn btn-success" type="submit">Complete</button>
    </form>
</div>
{% endblock content %}